/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2017, 22:03:41
    Author     : Guillermo
*/
html, body {
    height: 100%;
    width: 100%;
}
.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*
    Esto tenemos que adaptarlo a los tamaños, porque a 1080 está al pelo, pero más pequeño no
*/
/* Esto es el estilo del cubo que rodea el formulario del login*/
#contenedorLogin {
    max-width: 25%;
    padding: 50px; /* OJO CON LOS TAMAÑOS PUESTOS EN PX, QUE LUEGO HAY QUE ADAPTARLOS */
    background-color: #088FFE;
    border: 1px solid white;
    border-radius: 40px;
}
/*Aqui va el color del texto de debajo del botón entrar*/
.noUser {
    color:white;
}
/*Aquí va el color de la barra de navegación*/
.navbar {
    background-color: #088FFE;
}
/* esto es el color de las letras del menu*/
li a {
    color: white !important;
}
/* esto es el color del "TrainApp" "*/
.navbar-brand {
    color: white !important; /* me gustaría no usar important, pero bueno, ya lo miraremos*/
}

/*Los que no funcionan sin important tenemos que mirarlos urgente eh jajaja*/
.active a{
    background-color: #32A4FF !important;
}
